<div class="header_div">
<h1 class="index_title">ToDo List</h1>
</div>
<% @todos.each do |todo| %>
<li><div class="container">
    <div class="title">
        <%= link_to todo.title, todo_path(todo.id)%>
    </div>
    <div class="options">
    <%= link_to "Show", todo_path(todo[:id]) %>
    <%= link_to "Edit", edit_todo_path(todo[:id]) %>
    <%= link_to "Delete",todo, method: :delete,data:{confirm: "Are you sure to delete?"} %>
    </div>
</div>
</li>
<% end %>
<br>
<div class="btn_new">
<a class="new_btn"> <%=  link_to "Add New Todo Item",new_todo_path  %> </a>
</div>